.DS_Store
.idea
composer.phar
/var/
/phpunit.xml
/upload/system/library/dpd/vendor/
/upload/system/library/dpd/vendor/phpunit
/upload/system/library/dpd/vendor/bin/phpunit
/upload/system/library/dpd/vendor/sebastian
/upload/system/library/dpd/vendor/phpspec
/upload/system/library/dpd/vendor/phpdocumentor
/upload/system/library/dpd/vendor/doctrine/instantiator
/upload/system/library/dpd/vendor/webmozart/assert
/upload/system/library/dpd/vendor/symfony/polyfill-ctype
/upload/system/library/dpd/vendor/donatj/mock-webserver
/upload/system/library/dpd/vendor/php-http/guzzle6-adapter
/upload/system/library/dpd/vendor/symfony/yaml
/upload/system/library/dpd/vendor/myclabs/deep-copy
